<div class="container">
  <div class="row">
    <div class="col-8">
      <button mat-raised-button color="primary" style="max-width: 250px; margin-top: 20px;">Interviewer's Dashboard</button>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-6">
          <a routerLink="/showSlots">
            <mat-card class="example-card titlecenter">
              <div style="text-align: center; padding-top: px; ">
                <p style="color: black; font-size: 22px; font-weight: bold; justify-self: center;">Show All Bookings</p>
              </div>
              <img mat-card-image src="../../assets/images/show booking.avif" alt="Add Slot">
            </mat-card>
            </a>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6">
          <a routerLink="/markAvailability">
            <mat-card class="example-card titlecenter">
              <div style="text-align: center; padding-top: 15px; ">
                <p style="color: black; font-size: 22px; font-weight: bold; justify-self: center;">Mark Availability</p>
              </div>
              <img mat-card-image src="../../assets/images/markAvailability.jpg" alt="Add Slot">
            </mat-card>
            </a>
        </div>
      
      </div>
</div>