<div class="container">
<div class="row">
  <div>
    <a routerLink="/interviewee" style="text-decoration: none !important;"><button mat-raised-button color="primary" style="margin-top: 20px; margin-bottom: 20px; margin-left: 10px;" type="button" > <mat-icon>
      <span class="material-symbols-outlined">
        arrow_back
      </span>
    </mat-icon> Go To DashBoard</button></a>
  </div>
</div>
  <div class="row">
    <div class="col-sm-12 col-lg-6 col-md-6 col-xs-12">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [minDate]="minDate" [(selected)]="selected" (selectedChange)="dateChanged($event)"
          [dateClass]="dateClass()"></mat-calendar>
      </mat-card>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6 col-xs-12" style="margin-top:30px;">
      <div class="row">
        <div id="slots" class="col-12">
          <h3 id="heading">Available Slots :</h3>
        </div>
        <div class="col-12" style="display: flex; flex-wrap: wrap;">
          <div *ngFor="let slot of slots">
            <button class="btn btn-rounded time" (click)="changeSlot(slot)" id="button2" style="margin-left: 5px;">
              {{ slot.slot_start_Time }}-{{slot.slot_end_Time}}
            </button>
          </div>
          <div *ngIf="selected !== undefined && slots.length===0">
            <h3>No slots available</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center;" id="button1">
      <div class="col-12">
        <input type="button" (click)="bookSlot()" style="margin-top: 20px;" class="btn btn-info btn-rounded btnSubmit col-10"  value="Book"
        [disabled]="slot===undefined || slot===null" />
      </div>
    </div>
  </div>
</div>