<!-- <div class="container-fluid">
<div class="row">
<div id="carouselExampleCaptions" class="carousel slide imgbox" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-color: black;">
        <img src="../../assets/images/managementStess.jpg" class="d-block center-fit" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: black; font-weight: bold; background-color: bisque; display: inline; border-radius: 10px; padding: 4px;">Still Manually Booking interviews?</h5><br>
          <p style="color: black; font-weight: bold; background-color: bisque; display: inline; border-radius: 10px; padding: 4px;">Tired of managing time for every interview?</p>
        </div>
      </div>
      <div class="carousel-item" style="background-color: black;">
        <img src="../../assets/images/image-1757x1200.jpg" class="d-block center-fit" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: black; font-weight: bold; background-color: bisque; display: inline; border-radius: 10px; padding: 4px;">Too much work in contacting everyone?</h5><br>
          <p style="color: black; font-weight: bold; background-color: bisque; display: inline; border-radius: 10px; padding: 4px;">Having a hard time catering to everyone's schedule?</p>
        </div>
      </div>
      <div class="carousel-item" style="background-color: black;">
        <img src="../../assets/images/managerTime-1757x1200.jpg" class="d-block center-fit" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: black; font-weight: bold; background-color: bisque; display: inline; border-radius: 10px; padding: 4px;">We are here for Your Rescue!</h5><br>
          <p style="color: black; font-weight: bold; background-color: bisque; display: inline; border-radius: 10px; padding: 4px;">Just sit back and let our product do the work for you</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  <div class="row">
    <div style="text-align: center;">
        <a routerLink="/login"><button type="button" style="width: 300px; margin-top: 20px; padding: 5px;" class="btn btn-lg btn-outline-success">Let's Get Started</button></a>
    </div>
  </div>
  </div>
   -->

   <div class="containter" style="text-align: center; padding-bottom: 100px;">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 20px;">
        <mat-card class="example-card" style="margin: 10px; padding: 5px;">
          <img mat-card-image src="../../assets/images/managementStess.jpg" alt="Image Not Available..">
          <mat-card-content>
            <p style="color: black; font-weight: bold; background-color: bisque; display: inline; border-radius: 10px; padding: 2px;">
              Still Manually Booking interviews? <br>
              Tired of managing time for every interview?
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 20px;">
        <mat-card class="example-card" style="margin: 10px; padding: 5px;">
          <img mat-card-image src="../../assets/images/image-1757x1200.jpg" alt="Image Not Available..">
          <mat-card-content>
            <p style="color: black; font-weight: bold; background-color: bisque; display: inline; border-radius: 10px; padding: 2px;">
              Too much work in contacting everyone? <br>
              Having a hard time catering to everyone's schedule?
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 20px;">
        <mat-card class="example-card" style="margin: 10px; padding: 5px;">
          <img mat-card-image src="../../assets/images/managerTime-1757x1200.jpg" alt="Image Not Available..">
          <mat-card-content>
            <p style="color: black; font-weight: bold; background-color: bisque; display: inline; border-radius: 10px; padding: 2px;">
              We are here for Your Rescues! <br>
              Just sit back and let our product do the work for you
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div style="text-align: center;">
        <a routerLink="/login"><button type="button" style="width: 300px; margin-top: 20px; padding: 10px;" color="primary" mat-raised-button>Faculty Login</button></a>
        <a routerLink="/candidateLogin"><button type="button" style="width: 300px; margin-top: 20px; padding: 10px; margin-left: 10px;" color="primary" mat-raised-button>Candidate Login</button></a>
      </div>
    </div>
  </div>
  <footer class="bg-dark text-white" style="position: fixed; bottom: 0; width: 100%; text-align: center; max-height: 100px;">
    <div class="container-fluid p-4">
    
      <!-- <section style="text-align: center;">
        <p>
           
          Put Some Text here for footer

        </p>
      </section> -->
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" routerLink="login">TaimuSurotto</a>
    </div>
  </footer>