<div class="container" style="width: 90%; padding: 5%;">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <mat-form-field id="size" appearance="fill" class="example-full-width col-12">
        <input matInput placeholder="Password*" formControlName="password" type="password">
        <mat-icon matSuffix>password</mat-icon>
        <mat-error *ngIf="['required'] || ['pattern']">
          Password is required and must have min 8 letter password, with at least a symbol, upper and lower case letters
          and a number*
        </mat-error>
      </mat-form-field>


      <mat-form-field id="size" appearance="fill" class="example-full-width col-12">
        <input matInput placeholder="Confirm Password*" formControlName="cpassword" type="password">
        <mat-icon matSuffix>password</mat-icon>
        <mat-error *ngIf="['required'] || ['pattern']">
            Confirm Password is required and must have min 8 letter password, with at least a symbol, upper and lower case letters
            and a number*
        </mat-error>
      </mat-form-field>

        <div class="row" style="width: 90%;">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-9 ">
            <button color="warn" mat-raised-button type="reset">Reset</button>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 ">
            <button mat-button mat-raised-button
            [disabled]="!registerForm.valid" type="submit">Submit</button>
        </div>
        </div>
      </form>
</div>