

    
    <mat-form-field appearance="fill" id="se">
        <input matInput  required minlength="3" [(ngModel)]="address" type="text" (ngModelChange)="search()"
        #titles="ngModel" placeholder="Search By City">
        </mat-form-field>
        <mat-form-field appearance="fill" id="see">
            <input matInput   required minlength="3" [(ngModel)]="rating" type="text" (ngModelChange)="searchh()"
            #titles="ngModel" placeholder="Search By Rating">
            </mat-form-field>
            <mat-form-field appearance="fill" id="sea">
                <input matInput  required minlength="3" [(ngModel)]="price" type="text" (ngModelChange)="searchhh()"
                #titles="ngModel" placeholder="Search By Price">
                </mat-form-field>
    
    <div id="ca">
            <mat-card class="example-card" *ngFor="let res of hotel">
    
                <mat-card-header>
                
                  <mat-card-title id="ti">{{res.name}}</mat-card-title>
                  <mat-card-title id="pr">{{res.price}}</mat-card-title>
                  <mat-card-title>{{res.address}}</mat-card-title>
                  <mat-card-subtitle>{{res.phonenumber}}</mat-card-subtitle>
                </mat-card-header>
                <img  src="{{res.url}}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    You may think your car’s exhaust system is designed only to reduce noise, but it is also responsible for reducing harmful emissions from entering the atmosphere. Properly functioning mufflers and exhaust systems not only sound better, they are better – for you, your car, and the environment                </mat-card-content>
              
                <mat-card-actions>
                  <button id="ra" mat-button>{{res.rating}}</button>
   
                  <button (click)="book()" mat-raised-button color="accent">BOOK NOW</button>
                </mat-card-actions>
        
              </mat-card>
    </div>

    <div id="last">
      <footer>
        <h3 id="cp">© 2021 Copyright: Services.com</h3>
      </footer>
    
    </div>