<div class="container">
    <div class="row">    
        <div>
            <a routerLink="/interviewer" style="text-decoration: none !important;"><button mat-raised-button color="primary" style="margin-top: 20px;" type="button" > <mat-icon>
              <span class="material-symbols-outlined">
                arrow_back
              </span>
            </mat-icon> Go To DashBoard</button></a>
          </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-sm-12" style="padding: 50px; padding-bottom: 20px;">
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selected" [minDate]="minDate" (_userSelection)="getSlots()"></mat-calendar>
            </mat-card>
            <br>
            <br>
        </div>
        <div class="col-6" style="margin: 30px">
            <div class="row">
                <div class="col-12" style="padding:20px;">
                    <div class="row">
                        <h3 class="col-9" style="font-size: 20px; font-weight: bold; letter-spacing: 0.5px; color: #3F51B5;">Available Slots : </h3>
                        <button mat-raised-button color="primary" type="button" class="col-lg-3 col-sm-4" (click)="SelectAll()">Select All<mat-icon>check_circle_outline</mat-icon></button>
                    </div>
                    <div *ngIf="!checkSlotsPresent()" style="margin-top: 10px;">No Slots Available</div>
                    <div>
                        <mat-chip-listbox aria-label="slot selection">
                            <div class="slots" style="display: inline-flex; flex-wrap: wrap;">
                                <div *ngFor="let slot of slots">
                                    <mat-chip [disabled]="slot.bookings>slot.limit" id="time"
                                        (click)="markAvailable(slot)" matTooltip="">
                                        {{ slot.slot_start_Time }} - {{slot.slot_end_Time}}
                                    </mat-chip>
                                </div>
                            </div>
                        </mat-chip-listbox>

                    </div>
                </div>
                <div class="col-12" style="padding: 20px;">
                    <div *ngIf="openSlots!=null">
                        <div class="row">
                            <h3 class="col-9" style="font-size: 20px; font-weight: bold; letter-spacing: 0.5px; color: #FF4081;">Chosen Slots : </h3>
                            <button mat-raised-button color="warn" type="button" class="col-lg-3 col-sm-4" (click)="deSelectAll()">Clear<i class="material-icons">delete</i></button>
                        </div>
                        <mat-chip-listbox aria-label="slot selection">
                            <div class="slots" style="display: inline-flex; flex-wrap: wrap;">
                                <div *ngFor="let slot of openSlots">
                                    <mat-chip id="open" matTooltip="">
                                        {{ slot.slot_start_Time }} - {{slot.slot_end_Time}}
                                        <button matChipRemove (click)="remove(slot)">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                </div>
                            </div>
                        </mat-chip-listbox>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col" style="text-align: center;">
                    <button type="button" style="font-size: 20px; font-weight: bold; letter-spacing: 0.8px; color: white; width: 80%;" class="btn btn-info col-12" id="markButton" (click)="openChosenSlots()">Mark Available for Slots</button>
                </div>
            </div>
    </div>
</div>