<div class="container">
  <div class="row">
    <button mat-raised-button color="primary" style="max-width: 200px; margin-top: 20px; margin-left: 3%;">Admin's Dashboard</button>
  </div>

  <!-- <div class="row" style="margin-top: -10px;"> -->

    <div class="col-lg-4 col-md-6 col-sm-10 col-xs-12">
      <a routerLink="/slotview">
        <mat-card class="example-card titlecenter">
          <div style="text-align: center; padding-top: 15px; ">
            <p style="color: black; font-size: 22px; font-weight: bold; justify-self: center;">Add Slot</p>
          </div>
          <img mat-card-image src="../../assets/images/addslot.avif" alt="Add Slot">
        </mat-card>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-10 col-xs-12">
      <a routerLink="/manageSlots">
        <mat-card class="example-card titlecenter">
          <div style="text-align: center; padding-top: 15px; ">
            <p style="color: black; font-size: 22px; font-weight: bold; justify-self: center;">Manage Slots</p>
          </div>
          <img mat-card-image src="../../assets/images/mangeslot.avif " alt="Add Slot">
        </mat-card>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-10 col-xs-12">
      <a routerLink="/addInterviewer">
        <mat-card class="example-card titlecenter">
          <div style="text-align: center; padding-top: 15px; ">
            <p style="color: black; font-size: 22px; font-weight: bold; justify-self: center;">Add Interviewer</p>
          </div>
          <img mat-card-image src="../../assets/images/addinterviewer.webp" alt="Interviewer">
        </mat-card>
      </a>
    </div>

  <!-- </div> -->
  <!-- <div class="row"> -->

    <div class="col-lg-4 col-md-6 col-sm-10 col-xs-12">
      <a routerLink="/viewAllSlots">
        <mat-card class="example-card titlecenter">
          <div style="text-align: center; padding-top: 15px; ">
            <p style="color: black; font-size: 22px; font-weight: bold; justify-self: center;">Show Master Table</p>
          </div>
          <img mat-card-image style="height: 185px"
            src="../../assets/images/MasterTableIcon.png" alt="Generate Reports">
        </mat-card>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-10 col-xs-12">
      <a routerLink="/analyticsDashboard">
        <mat-card class="example-card titlecenter">
          <div style="text-align: center; padding-top: 15px; ">
            <p style="color: black; font-size: 22px; font-weight: bold; justify-self: center;">Show Analysis</p>
          </div>
          <img mat-card-image src="../../assets/images/search-analytic.jpg" alt="Add Slot">
        </mat-card>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-10 col-xs-12">
      <a routerLink="/addAdmin">
        <mat-card class="example-card titlecenter">
          <div style="text-align: center; padding-top: 15px; ">
            <p style="color: black; font-size: 22px; font-weight: bold; justify-self: center;">Add External Admin</p>
          </div>
          <img mat-card-image src="../../assets/images/addadmin.webp" alt="Add Slot">
        </mat-card>
      </a>
    </div>

  <!-- </div> -->
</div>