/* .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

#size{
    width:400px
}

#end{
    position: relative;
    right: -150px;
    bottom: -10px;
} */

.example-full-width{
    width: 300px;
}