

    
    <mat-form-field appearance="fill" id="se">
    <input matInput   required minlength="3" [(ngModel)]="address" type="text" (ngModelChange)="search()"
    #titles="ngModel" placeholder="Search By City">
    </mat-form-field>
    <mat-form-field appearance="fill" id="see">
        <input matInput  required minlength="3" [(ngModel)]="rating" type="text" (ngModelChange)="searchh()"
        #titles="ngModel" placeholder="Search By Rating">
        </mat-form-field>
 

<div id="ca">
        <mat-card class="example-card" *ngFor="let res of resturant">

            <mat-card-header>
            
              <mat-card-title id="ti">{{res.name}}</mat-card-title>
              <mat-card-title>{{res.address}}</mat-card-title>
              <mat-card-subtitle>{{res.phonenumber}}</mat-card-subtitle>
            </mat-card-header>
            <img  src="{{res.url}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Provide Food and Beverage on a commercial basis. This is open to all to take refreshment, Food and beverage. Everybody can take food and Beverage against money. Restaurant offer service of Food and Beverage desires to satisfy the Guest.
              </p>
            </mat-card-content>
          
            <mat-card-actions>
              <button id="ra" mat-button>{{res.rating}}</button>
              <button (click)="book()" mat-raised-button color="accent">BOOK NOW</button>
            </mat-card-actions>
    
          </mat-card>
</div>

<div id="last">
  <footer>
    <h3 id="cp">© 2021 Copyright: Services.com</h3>
  </footer>

</div>