<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img class="img-fluid" src="..//../assets/images/loginpage.png">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="loginDiv">
            <mat-card>
                <mat-card-content>
                    <img class="user" src="../../assets/images/pp1.jpg" height="60px" width="60px"
                        style="border-radius: 50px;">
                    <h1>Welcome Candidate</h1>
                    <h3>Login with your Google Account</h3>
                    <asl-google-signin-button type='icon' size='large'></asl-google-signin-button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>