<div class="container" style="width: 400px;">
    <div class="row">
        <img src="../../assets/images/Logo.png" alt="...." style="max-width: 200px; margin: auto !important;">
    </div>
    <hr>
    <div class="row">
        <div class="row">
            <button mat-raised-button style="max-width: 200px; margin: 10px auto !important;" (click)="changePassword()"><i class="fa-solid fa-lock"></i> Change Password</button>
        </div>
        <div class="row">
            <button mat-raised-button style="max-width: 200px; margin: 10px auto !important;" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
        </div>
    </div>
</div>